<a href="https://colab.research.google.com/github/Olamyy/notebooks/blob/master/goodreads_recSys.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [38]:
from google.colab import drive
drive.mount('/content/gdrive')

Drive already mounted at /content/gdrive; to attempt to forcibly remount, call drive.mount("/content/gdrive", force_remount=True).

In [39]:
!/content/gdrive/My Drive/

/bin/bash: /content/gdrive/My: No such file or directory

In [0]:
import gzip
data = []
with gzip.open('../content/gdrive/My Drive/colab_datasets/goodreads_books_poetry.json.gz') as f:
    for l in f:
        data.append(eval(l))

In [0]:
import pandas

In [0]:
df = pandas.DataFrame(data)

In [43]:
df.head()

,asin,authors,average_rating,book_id,country_code,description,edition_information,format,image_url,is_ebook,...,publication_day,publication_month,publication_year,publisher,ratings_count,series,similar_books,text_reviews_count,url,work_id
0,,"[{'author_id': '15585', 'role': ''}]",3.83,16037549,US,Number 30 in a series of literary pamphlets pu...,,Paperback,https://images.gr-assets.com/books/1348176637m...,false,...,1,11,1887,"Houghton, Mifflin and Company",3,[],[],1,https://www.goodreads.com/book/show/16037549-v...,5212748
1,,"[{'author_id': '16073', 'role': ''}, {'author_...",3.83,22466716,US,Fairy Tales gathers the unconventional verse d...,,Paperback,https://images.gr-assets.com/books/1404958407m...,false,...,20,4,2015,New Directions,37,[],[],2,https://www.goodreads.com/book/show/22466716-f...,41905435
2,,"[{'author_id': '18540', 'role': ''}, {'author_...",4.38,926662,US,Three poems describe the nighttime adventures ...,,Paperback,https://s.gr-assets.com/assets/nophoto/book/11...,false,...,12,7,2008,Farrar Straus Giroux,45,[],[],7,https://www.goodreads.com/book/show/926662.Gro...,911665
3,,"[{'author_id': '18540', 'role': ''}]",3.71,926667,US,A modern verse play about the search for meani...,,Paperback,https://images.gr-assets.com/books/1382939971m...,false,...,18,3,1964,Mariner Books,115,[],"[1230072, 315167, 676169, 18522, 124335, 88263...",12,https://www.goodreads.com/book/show/926667.The...,995066
4,,"[{'author_id': '14308759', 'role': ''}]",5.00,29065952,US,Louder Than Everything You Love is about trans...,First,Paperback,https://images.gr-assets.com/books/1455198396m...,false,...,23,12,2015,ELJ Publications,9,[],"[25869488, 23630890, 25448131, 25464039, 42166...",4,https://www.goodreads.com/book/show/29065952-l...,49294781

In [44]:
df.columns

Index(['asin', 'authors', 'average_rating', 'book_id', 'country_code',
       'description', 'edition_information', 'format', 'image_url', 'is_ebook',
       'isbn', 'isbn13', 'kindle_asin', 'language_code', 'link', 'num_pages',
       'popular_shelves', 'publication_day', 'publication_month',
       'publication_year', 'publisher', 'ratings_count', 'series',
       'similar_books', 'text_reviews_count', 'url', 'work_id'],
      dtype='object')

In [0]:
def drop_column(cols):
  return df.drop(cols, axis=1)

df = drop_column(['asin', 'authors', 'description', 'image_url', 'url', 'work_id', 'isbn', 'isbn13', 'kindle_asin', 'country_code', 'link'])

In [0]:
from sklearn.preprocessing import LabelEncoder

In [48]:
df.head()

,average_rating,book_id,edition_information,format,is_ebook,language_code,num_pages,popular_shelves,publication_day,publication_month,publication_year,publisher,ratings_count,series,similar_books,text_reviews_count
0,3.83,16037549,,Paperback,false,eng,80,"[{'count': '8', 'name': 'to-read'}, {'count': ...",1,11,1887,"Houghton, Mifflin and Company",3,[],[],1
1,3.83,22466716,,Paperback,false,,128,"[{'count': '100', 'name': 'to-read'}, {'count'...",20,4,2015,New Directions,37,[],[],2
2,4.38,926662,,Paperback,false,,,"[{'count': '32', 'name': 'to-read'}, {'count':...",12,7,2008,Farrar Straus Giroux,45,[],[],7
3,3.71,926667,,Paperback,false,,190,"[{'count': '554', 'name': 'to-read'}, {'count'...",18,3,1964,Mariner Books,115,[],"[1230072, 315167, 676169, 18522, 124335, 88263...",12
4,5.00,29065952,First,Paperback,false,eng,118,"[{'count': '228', 'name': 'to-read'}, {'count'...",23,12,2015,ELJ Publications,9,[],"[25869488, 23630890, 25448131, 25464039, 42166...",4

In [0]:
le = LabelEncoder()

cat_columns = ['edition_information', 'format', 'is_ebook', 'language_code', 'publisher', 'publication_day', 'publication_month', 'publication_year', ]

for i in cat_columns:
  df[i] = le.fit_transform(df[i])

In [57]:
df.head()

,average_rating,book_id,edition_information,format,is_ebook,language_code,num_pages,popular_shelves,publication_day,publication_month,publication_year,publisher,ratings_count,series,similar_books,text_reviews_count
0,3.83,16037549,0,76,0,22,80,"[{'count': '8', 'name': 'to-read'}, {'count': ...",1,3,68,3120,3,[],[],1
1,3.83,22466716,0,76,0,0,128,"[{'count': '100', 'name': 'to-read'}, {'count'...",13,7,195,4412,37,[],[],2
2,4.38,926662,0,76,0,0,,"[{'count': '32', 'name': 'to-read'}, {'count':...",4,10,188,2364,45,[],[],7
3,3.71,926667,0,76,0,0,190,"[{'count': '554', 'name': 'to-read'}, {'count'...",10,6,143,4019,115,[],"[1230072, 315167, 676169, 18522, 124335, 88263...",12
4,5.00,29065952,583,76,0,22,118,"[{'count': '228', 'name': 'to-read'}, {'count'...",16,4,195,1944,9,[],"[25869488, 23630890, 25448131, 25464039, 42166...",4

In [58]:
df.publication_day.value_counts()

0     14956
1      7778
7      1276
9       760
21      635
24      593
4       500
25      492
27      489
23      488
29      476
12      463
28      456
26      455
2       426
18      425
19      408
6       408
14      402
20      386
13      384
8       378
30      362
11      358
10      355
3       355
22      353
31      346
17      346
15      340
5       338
16      327
Name: publication_day, dtype: int64